button {
  border-radius: 32px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border: solid 1px;
  margin: 5px;
  background-color: transparent;

  cursor: pointer;
}

.white {
  color: white;
  width: 100%;
}

.black {
  color: black;
  margin: 2% 25%;
  padding: 7px;
}
